{% extends "base.html" %} 

    {% block main %}
    <div class="fundo">
        <a href="https://github.com/KevinFMfatec" target='_blank'><span class="github"></span></a>
        <a href="https://www.linkedin.com/in/kevin-mirenda-a54a64220" target='_blank'><span
                class="linkedin"></span></a>
        <span class="texto">Olá, meu nome é Kevin Ferreira Mirenda,
            tenho 18 anos e estou cursando "Desenvolvimento de Software Multiplataforma" na FATEC SJC
        </span>
        <div class="foto"></div>
    </div>
    <script src='mobile-navbar.js'></script>
    {% endblock %}