{% extends "base.html" %}

{% block main %}

<img class="api" srcset="../static/images/apimobile.png 500w, ../static/images/api.png 600w" sizes="(max-width: 745px) 500px, 600px">
<span class="subtitulo">Aplicação de informações para a FATEC de SJC</span>

<span class="textoprojeto">Devido a pandemia do novo coronavirus, alto volume de informações e falta de efetividade
    na entrega das mesmas, foi proposto como parte do trabalho de aprendizagem por projetos integrados, o
    desenvolvimento de uma aplicação para a troca de informações entre os professores e alunos.</span>
<a href="https://github.com/T3chnogroup/Projeto-InFatec" target='_blank'><span class="button"></span>
    <span class="buttontext">Saiba mais</span>
</a>
<script src='mobile-navbar.js'></script>

{% endblock %}