{% extends "base.html" %}

{% block main %}
<div class="fotoeu"></div>
<span class="titulo">Sobre mim</span>
<span class="textosobremim">Nasci em Boston, mas moro
    em São José dos Campos, desde os meus 5 anos de idade, me formei no ensino médio em 2020 no Colégio
    UNIVAP Centro, concomitante com o técnico em Análises Clínicas, mas sempre me interessei por tecnologia.
    Depois de um pouco de incentivo familiar, despertei mais interesse na área e decidi me matricular para o
    curso de "Desenvolvimento de Software Multiplataforma" pela FATEC de São José dos Campos - Professor
    Jessen Vidal.
    Ainda não tenho experiência, mas tenho um enorme interesse em aprender e desenvolver atividades
    práticas.</span>
{% endblock %}