.github {
    width: 400px;
    height: 114px;
    background: url("../images/github.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 650px;
}
.linkedin {
    width: 111px;
    height: 114px;
    background: url("../images/linkedin.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 600px;
    left: 1100px;
}
.texto {
    width: 699px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 224px;
    left: 603px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}
.foto {
    width: 380px;
    height: 380px;
    background: url("../images/foto.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 120px;
    border-radius: 190px;
}