.github {
    width: 400px;
    height: 114px;
    background: url("../images/github.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 570px;
    left: 650px;
}
.linkedin {
    width: 120px;
    height: 120px;
    background: url("../images/linkedin.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 570px;
    left: 1100px;
}
.texto {
    width: 699px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 190px;
    left: 603px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}
.foto {
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 50px;
    border-radius: 250px;
}

@media (max-width: 745px) {
    .foto {
        top: 150px;
        left: 160px;
    }
    .texto {
        top: 600px;
        left: 0px;
        font-size: 40px;
    }
    .github {
        top: 950px;
        left: 160px;
    }
    .linkedin {
        top: 1150px;
        left: 300px;
    }

}