.api {
    width: 585px;
    height: 460px;
    background: url("../images/api.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 180px;
    left: 20px;
}
.subtitulo {
    width: 740px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 160px;
    left: 680px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 45px;
    opacity: 1;
    text-align: center;
}
.textoprojeto {
    width: 740px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 290px;
    left: 680px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}
.button {
    width: 300px;
    height: 100px;
    background: rgba(199,5,5,1);
    opacity: 1;
    position: absolute;
    top: 580px;
    left: 910px;
    border-radius: 40px;
}
.buttontext {
    width: 291px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 600px;
    left: 910px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 42px;
    opacity: 1;
    text-align: center;
}

@media (max-width: 745px) {
    .api {
        width: 600px;
        top: 150px;
        left: 60px;
    }
    .subtitulo {
        top: 640px;
        left: -10px;
    }
    .textoprojeto {
        top: 770px;
        left: -10px;
        font-size: 42px;
    }
    .button {
        top: 1270px;
        left: 210px;
    }
    .buttontext {
        top: 1290px;
        left: 215px;
    }
}