.fotoeu {
    width: 380px;
    height: 380px;
    background: url("../images/foto.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 224px;
    left: 120px;
    border-radius: 190px;
}
.titulo {
    width: 260px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 125px;
    left: 875px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 50px;
    opacity: 1;
    text-align: center;
}
.textosobremim {
    width: 704px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 220px;
    left: 650px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 32px;
    opacity: 1;
    text-align: center;
}